{{ form_start(form, {attr: {class: 'col-6 mx-auto mt-5 text-center'}}) }}
    {{ form_widget(form) }}
    <button class="btn btn-secondary w-75 fs-4 mt-4">{{ button_label }}</button>
{{ form_end(form) }}
