{% extends 'base.html.twig' %}

{% block title %}Editer recette{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center mt-5">Créer une nouvelle catégorie</h1>
        <p class="text-center my-4">
            <a class="btn btn-secondary" href="{{ path('recipe_index') }}">Retour à la liste des recette</a>
        </p>
        {{ include('category/_form.html.twig', {button_label: 'Mettre à jour'}) }}
    </div>
    <script src="/js/recipe.js"></script>
{% endblock %}
